* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.container {
    width: 600px;
    max-width: 80%;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    padding: 40px;
    margin: 100px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    display:flex;
}

.header {

   padding: 60px;
   text-align:center;
   background: blanchedalmond;
   color:burlywood;
   font-size: 30px;
}

.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin:20px 0;
}